:root > * {
    --md-primary-fg-color:        #004376;
    /* --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C; */
  }

  .playb {
    display: inline-block; /* This makes the button inline */
    vertical-align: middle; /* This aligns the button vertically with the text */
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 0px; /* Add some space between the title and the button */
    padding: 0;
}

.playb .fa-play {
    color: black;
    font-size: 17px;
    padding-right: 10px;
}

.playb .fa-pause {
  color: black;
  font-size: 17px;
  padding-right: 10px;
}
